DJANGO_SECRET_KEY=replace-this-secret-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
POSTGRES_HOST=db
POSTGRES_DB=lotto
POSTGRES_USER=lotto
POSTGRES_PASSWORD=lotto
POSTGRES_PORT=5432
